<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../css/jquery.js"></script>
    <link href="../css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/ele-index.js"></script>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            background-color: #4285F4;
        }
        .all_posi{
            margin-top: 20px;
        }
        .input_size {
            width: 181px;
        }
    </style>
</head>
<body>
<div class="all_posi" id="app">
    <table>
        <tr>
            <td align="right">管理员姓名：</td> <td><span v-for="manageNames in manageNameData">{{manageNames.mngName + " "}}</span>
                <span>
        <button type="text" class="btn btn-primary" @click="dialogVisible = true">其他管理员</button>

         <el-dialog
                 title="管理员信息"
                 :visible.sync="dialogVisible"
                 width="100%"
                 :before-close="handleClose">
    <span>
      <template>
  <el-table
          :data="tableData"
          border
          style="width: 100%">
    <el-table-column
            fixed
            prop="mngName"
            label="姓名"
            width="80">
    </el-table-column>
    <el-table-column
            prop="isSuper"
            label="权限"
            width="100">
        <template slot-scope="scope">
                    <span>{{scope.row.isSuper == true?'超级管理员':'管理员'}}</span>
                </template>
    </el-table-column>
    <el-table-column
            prop="isUse"
            label="使用状态"
            width="80">
                <template slot-scope="scope">
                    <span>{{scope.row.isUse == true?'已使用':'未使用'}}</span>
                </template>
            </el-table-column>
    <el-table-column
            fixed="right"
            label="操作"
            width="100">
      <template slot-scope="scope">
        <el-button type="text" @click="useManage(scope.row)">{{scope.row.isUse == true?'禁用':'启用'}}</el-button>
        <el-button type="text" @click="deleteManage(scope.$index,tableData)" size="small">{{scope.row.isSuper == true?'-':'删除'}}</el-button>
      </template>
    </el-table-column>
  </el-table>
  <input type="text" class="form-control input_size" style="visibility: hidden" id="isPlay" @blur="getManageName" placeholder="请输入添加的姓名">
<br/>
</template>
          </span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="addManage"><span id="fixUpdataButt">添加</sapn></el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
                </span>
            </td>
        </tr>
        <tr>
            <td align="right"  valign="top">查询方式：</td> <td><input type="radio" @click="getRadioValue" value="1" name="use"/>已归还&nbsp<input type="radio" @click="getRadioValue" value="0" name="use"/>未归还&nbsp<input type="radio" @click="getRadioValue" value="3" id="all_status" name="use"/>全部状态<br>
              <form class="form-inline">
                  <div class="form-group">
                      <label >姓&nbsp&nbsp&nbsp&nbsp名：</label>
                      <input type="text" class="form-control input_size" @blur="getInputValue" placeholder="请输入姓名"><br/>
                      <button type="button" class="btn btn-primary btnpos"  @click="search">搜索</button>
                  </div><br>
              </form>
            </td>
        </tr>
    </table>
    <div>
        查询结果：<br>
    </div>
    <span><hr></span>

    <table class="table table-condensed">
        <thead>
        <tr> <td>姓名</td> <td>物料名</td>  <td>是否使用</td> <td>状态</td> <td>详情</td></tr>
        </thead>
        <tbody v-for="(info,index) in goodsInfo">
        <tr> <td>{{info.userName}}</td> <td>{{info.goodsName}}</td>  <td>{{info.isUse == 1?"已使用":"未使用"}}</td> <td>{{info.isIn == 1?"已入库":"未入库"}}</td> <td><button class="btn btn-default" @click="showdetail" :value = "info.infoId" role="button">查看</button></td></tr>
        </tbody>
        <tfoot>
            <tr> <td colspan="5" class="page_pos" align="center">
                <el-pagination  @current-change="getPage"
                    background
                    :current-page.sync="presentPage"
                    layout="prev, pager, next"
                    small
                    :total="total">
                </el-pagination>
            </td>
            </tr>
        </tfoot>
    </table>

</div>

</body>
<script>

    /**
     * 全局的url
     * */
    axios.defaults.baseURL = 'http://192.168.1.113:8080/api';

    new Vue({
        el:'#app',
        data(){
            return{
                radioValue:'',
                userName:'',
                pageCurrent:1,
                total:1,
                presentPage:1,
                //标记方法 解决不同条件查询分页问题！
                sign:0,
                //物料信息
                goodsInfo:[],
                //储存管理员详情信息
                tableData: [],
                dialogVisible: false,
                //判断状态的变量
                flag:true,
                //储存管理员姓名
                manageNameData:[],
            }
        },
        mounted() {
            this.showAll();
            this.showManageName();
            this.canShowManageName();
        },
        methods: {
            getRadioValue() {
                this.sign = 1;

                //初始化当前页
                this.pageCurrent = 1;
                //初始化分页前光标
                this.presentPage = 1;

                if (event.target.value == 3){
                    this.radioValue = '';
                } else {
                    this.radioValue = event.target.value;
                }
                this.search();
            },
            getInputValue() {
                this.sign = 2;
                //初始化当前页
                this.pageCurrent = 1;
                //初始化分页前光标
                this.presentPage = 1;
                this.username = event.target.value;
                console.log(this.username);
                this.search();
            },
            showAll() {
                this.sign = 4;
                let params = new URLSearchParams();
                params.append('isIn',"");
                params.append('userName',"");
                params.append('pageNum',this.pageCurrent);
                $("#all_status").attr("checked","checked");
                axios.get('/showInfo',{
                    params:params
                }).then(result => {
                    this.goodsInfo = result.data.data.infos;
                    this.total = result.data.data.cnt;
                });
            },
            //获得管理员姓名
            getManageName() {
                this.getManageName = event.target.value;
            },
            addManage() {
                if (this.flag == false) {
                    $("#isPlay").css("visibility","hidden");
                    $("#fixUpdataButt").text("添加");
                    this.flag = true;
                }else {
                    $("#isPlay").css("visibility","visible");
                    $("#fixUpdataButt").text("提交");
                    this.flag = false;
                }
                if ( $("#fixUpdataButt").text() == "添加" ){
                    this.appendManage($("#isPlay").val());
                }
                //初始化输入框
                $("#isPlay").val("");
            },
            // 修改使用时的方法
            useManage(row) {
                if (row.isUse == false){
                    row.isUse = true;
                    event.target.value = '禁用';
                    this.use(row.managenameId);
                } else {
                    row.isUse = false;
                    this.notUse(row.managenameId);
                    event.target.value = '启用';
                }
            },
            clearbtnborder(obj) {
                obj.style.border = 'none';
            },
            deleteManage(index,row) {
                let params = new FormData();
                params.append("manageId",row[index].managenameId);

                if (row[index].mngName === '鲁森') {
                  alert("超级管理员不可删除");
                  return;
                }
                axios.post('/deleteManage',params).then(result => {
                    if (result.data.data > 0){
                        alert("删除成功!");
                    } else {
                        alert("删除失败!");
                    }
                })

                row.splice(index,1);
                this.canShowManageName();
            },
            /**
             * 各种查询方法
             * */
            search() {
                this.sign = 5;
                let params = new URLSearchParams();
                params.append('isIn',this.radioValue);
                params.append('userName',this.username);
                params.append('pageNum',this.pageCurrent);
                axios.get('/showInfo',{
                    params:params
                }).then(result => {
                    this.goodsInfo = result.data.data.infos;
                    this.total = result.data.data.cnt;
                });
            },
            /**
             * 展示管理员信息
             * */
            showManageName() {
              axios.get('/showAllManage').then(result => {
                  this.tableData = result.data.data
              })
            },
            /**
             * 禁用管理员
             * */
            notUse(manageId) {
                let params = new FormData();
                params.append("manageId",manageId);

                axios.post('/updataNoUse',params).then(result => {
                    if (result.data.data > 0){
                        alert("禁用成功!");
                    } else {
                        alert("禁用失败!");
                    }
                    this.canShowManageName();
                })
            },
            /**
             * 启用管理员
             * */
            use(manageId) {
                let params = new FormData();
                params.append("manageId",manageId);

                axios.post('/updataUse',params).then(result => {
                    if (result.data.data > 0){
                        alert("启用成功!");
                    } else {
                        alert("启用失败!");
                    }
                    this.canShowManageName();
                })
            },

            /**
             * 添加管理员
             *
             * */
            appendManage(name) {
                let params = new FormData();
                params.append("ManageName",name);

                axios.post('/addManage',params).then(result => {
                    if (result.data.data > 0){
                        alert("添加成功!");
                    } else {
                        alert("添加失败!");
                    }
                    this.showManageName();
                    this.canShowManageName();
                })
            },
            /**
             * 页面展示可用管理员
             * */
            canShowManageName() {
                axios.get('/showManageName').then(result => {
                    this.manageNameData = result.data.data;
                })
            },
            showdetail() {
                sessionStorage.setItem("id",event.target.value);
                window.location.href = "detail.html";
            },
            getPage(val) {
                this.pageCurrent = val;
                let signNum = this.sign;
                if (signNum == 1){
                    this.getRadioValue();
                }else if (signNum == 2){
                    this.getInputValue();
                }else if (signNum == 3){
                    this.searchAll();
                }else if (signNum == 4){
                    this.showAll();
                }else if (signNum == 5){
                    this.search();
                }else {
                    return;
                }
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            }
        }
    })
</script>
</html>
